
# 02 Logical Operations and Loops

# Logical Operations

In [4]:
print(2 >= 5)
print(6 >= 6)
print(2 == 1)
print(5 == 5)
print(0 != 0)

False
True
False
True
False

In [5]:
print(1 > 1 and 3 > 2)
print(2 > 1 and 2 < 8) 
print(5 > 3 or 2 < 2)
print(5 < 1 and 6 < 2)

False
True
True
False

In [18]:
print((5 > 2 or not 1 < 3) and (1!=3 and 4>3) and ( 1 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(1 > 2 or 1 < 5 and (3!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

True
False


# If Statement

In [21]:
j = 4
if j == 4:
    print('j==4 is True')

j==4 is True

In [25]:
p = 1 > 0
q = 5 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

p and q is true

# Loop Structure

## While Loop

In [26]:
i = 1
while i < 8:
    print(i)
    i += 2

1
3
5
7



## For Loop

In [ ]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(stocks)

['AAPL', 'GOOG', 'IBM', 'FB', 'F', 'V', 'G', 'GE']


## Break and continue

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'FB':
        break

AAPL
GOOG
IBM
FB

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'FB':
        continue
    print(i)

AAPL
GOOG
IBM
F
V
G
GE

# List Comprehension

In [27]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**3)
print(squares)

[1, 8, 27, 64, 125]

In [28]:
list = [1,2,3,4,5]
squares = [x**5 for x in list]
print(squares)

[1, 32, 243, 1024, 3125]

In [30]:
stocks = ['QWE','JHG','RTY','UIO','PAS','DFG', 'HJK', 'L']
selected = ['RTY','UIO','SAP']
new_list = [x for x in stocks if x in selected]
print(new_list)

['RTY', 'UIO']

In [33]:
print([(x, y) for x in [6,5,4,3] for y in [3,5,4] if x != y])
print([str(x)+' vs '+str(y) for x in ['AAPL','GOOG',] for y in ['F','V','G','GE'] if x!=y])

[(6, 3), (6, 5), (6, 4), (5, 3), (5, 4), (4, 3), (4, 5), (3, 5), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE']