<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 01 Data Types and Data Structures

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [ ]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

In [ ]:
my_string1 = 'Bienvenido'
my_string2 = "Diego Rodriguez"
print(my_string1 + ' ' + my_string2)

Bienvenido a Conexion Quantica

An integer is a round number with no values after the decimal point.

In [ ]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

In [ ]:
my_int = 115
print(my_int)
print(type(my_int))

11567399
<class 'int'>

The built-in function int() can convert a string into an integer.

In [ ]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

In [ ]:
my_string = "111"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [ ]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

In [1]:
my_string = "101"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [ ]:
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

In [ ]:
my_bool = True
print(my_bool)
print(type(my_bool))

True
<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [ ]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division ", 10/2)
print('exponent', 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division  5.0
exponent 8

In [ ]:
print("Addition ", 6795 + 648)
print("Subtraction ", 32546 - 941)
print("Multiplication ", 295 * 3687 )
print("Division ", 1062/562)
print('exponent', 254 ** 3)

Addition  7429033
Subtraction  3188805
Multiplication  109282361625
Division  2.3688793142139044
exponent 16387064

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [ ]:
print(1/3)
print(1.0/3)

0.3333333333333333
0.3333333333333333

In [2]:
print(100/33)
print(10/3)

3.0303030303030303
3.3333333333333335

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(my_list)

['Quant', 'Connect', 1, 2, 3]

In [ ]:
my_list_es = ['Quantico', 'Conexion', 1,2,3]
print(my_list_es)

['Quantico', 'Conexion', 1, 2, 3]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])

5
Quant
3

In [ ]:
my_list_es = ['Quantico', 'Conexion', 1,2,3]
print(len(my_list_es))
print(my_list_es[1])
print(my_list_es[len(my_list) -1])

5
Conexion
3

You can also change the elements in the list by accessing an index and assigning a new value.

In [ ]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

In [ ]:
my_list_es = ['Quantico', 'Conexion', 1,2,3]
my_list_es[2] = 'Estudiante'
print(my_list_es)

['Quantico', 'Conexion', 'Estudiante', 2, 3]

A list can also be sliced with a colon:

In [ ]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

In [ ]:
my_list_es = ['Quantico', 'Conexion', 1,2,3]
print(my_list_es[2:4])

[1, 2]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [ ]:
print(my_list[1:])

['Connect', 1, 2, 3]

In [ ]:
print(my_list_es[1:])

['Conexion', 1, 2, 3]

And all elements up to but excluding index 3:

In [ ]:
print(my_list[:3])

['Quant', 'Connect', 1]

In [ ]:
print(my_list_es[:3])

['Quantico', 'Conexion', 1]

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [ ]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']

In [ ]:
my_list_es = ['Hola', 'Quantico']
my_list_es.append('Hola')
print(my_list_es)

['Hola', 'Quantico', 'Hola']

In [ ]:
my_list.remove('Hello')
print(my_list)

['Quant', 'Hello']

In [ ]:
my_list_es.remove('Hola')
print(my_list_es)

['Quantico', 'Hola']

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')

In [ ]:
my_tuple_es = ('Bienvenido','a','Diego Rodriguez')

Just like a list, a tuple can be sliced by using index.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

In [ ]:
print(my_tuple_es[1:])

('a', 'ConexionQuantica')

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [ ]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'IBM', 'GOOG', 'F', 'AAPL', 'FB'}

In [ ]:
stock_list_es = ['ASD','FGH','JKL','RTY','WER','FB','F','WTC']
stock_set_es = set(stock_list_es)
print(stock_set_es)

{'IBM', 'GOOG', 'F', 'TSL', 'MSFT', 'WTC', 'FB'}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [4]:
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Alphabet'}

In [6]:
my_dic_es = {'ASD':'Microsoft', 'FGH':'TYU', 'HJK':'ERT'}

In [5]:
print(my_dic['GOOG'])

Alphabet

In [8]:
print(my_dic_es['ASD'])

Microsoft

After defining a dictionary, we can access any value by indicating its key in brackets.

In [ ]:
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

In [ ]:
my_dic_es['TSL'] = 'Tesla Incorporated'
print(my_dic_es['TSL'])

Tesla Incorporated

We can also change the value associated with a specified key:

In [ ]:
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

In [ ]:
print(my_dic_es.keys())

dict_keys(['MSFT', 'WTC', 'TSL'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [ ]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

In [ ]:
my_str_es = 'Bienvenido a Diego Rodriguez'
print(my_str_es[8:])

do a ConexionQuantica

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [ ]:
print('Counting the number of e appears in this sentence'.count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))

7
2
ell the e in this sentence now becomes e

In [ ]:
print(my_str_es.count('e'))
print(my_str_es.find('e'))
print(my_str_es.replace('a','e'))

3
2
Bienvenido e ConexionQuentice

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [ ]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

In [ ]:
Time_es = '2021-10-17 10:03:57'
splited_list_es = Time_es.split(' ')
date_es = splited_list_es[0]
time_es = splited_list_es[1]
print(date_es, time_es)
hour_es = time_es.split(':')[0]
print(hour_es)

2021-10-17 10:03:57
10

We can replace parts of a string by our variable. This is called string formatting.

In [ ]:
my_time = 'Hour: {}, Minute:{}'.format('09','43')
print(my_time)

Hour: 09, Minute:43

In [ ]:
my_time_es = 'Hour: {}, Minute:{}'.format('10','04')
print(my_time_es)

Hour: 10, Minute:04

Another way to format a string is to use the % symbol.

In [ ]:
print('the pi number is %f'%3.14)
print('%s to %s'%('Welcome','Quantconnect'))

the pi number is 3.140000
Welcome to Quantconnect

In [ ]:
print('the ro number is %f'%8.56)
print('%s a %s'%('Bienvenido','DiegoRodriguez'))

the ro number is 8.560000
Bienvenido a ConexionQuantica

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [ ]:
print(1 == 0)
print(1 == 1)
print(1 != 0)
print(5 >= 5)
print(5 >= 6)

False
True
True
True
False

In [ ]:
print(5 == 5)
print(1 == 0)
print(17 != 0)
print(0 >= 5)
print(5 >= 0)

True
False
True
False
True

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [ ]:
print(2 > 1 and 3 > 2)
print(2 > 1 and 3 < 2) 
print(2 > 1 or 3 < 2)
print(2 < 1 and 3 < 2)

True
False
True
False

In [ ]:
print(5 > 7 and 4 > 12)
print(7 > 18 and 8 < 0) 
print(1 > 4 or 1 < 45)
print(3 < 3 and 8 < 4)

False
False
True
False

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [ ]:
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

In [ ]:
print((12 > 2 or 2 < 12) and (2!=12 and 4>12) and not ( 12 < 2 or 2 < 12 and (2!=12 and 4>12)))
print(12 > 2 or 2 < 12 and (2!=12 and 4>12) and not ( 12 < 2 or 2 < 12 and (2!=12 and 4>12)))

False
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [ ]:
i = 0
if i == 0:
    print('i==0 is True')

i==0 is True

In [ ]:
i = 8
if (i > 0) and (i < 9):
    print('i is Natural')

i is Integer

As we mentioned above, we can write some complex statements here:

In [ ]:
p = 1 > 0
q = 2 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

q is false

In [ ]:
p = 2 > 0
q = 16 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

p and q is true

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [ ]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [ ]:
i = 0
while i < 50:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [ ]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [ ]:
for i in range(1,30):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(stocks)

['AAPL', 'GOOG', 'IBM', 'FB', 'F', 'V', 'G', 'GE']

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'FB':
        break

AAPL
GOOG
IBM
FB

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'FB':
        continue
    print(i)

AAPL
GOOG
IBM
F
V
G
GE

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [ ]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25]

Using list comprehension:

In [ ]:
list = [1,2,3,4,5]
squares = [x**2 for x in list]
print(squares)

[1, 4, 9, 16, 25]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x in selected]
print(new_list)

['AAPL', 'IBM']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [ ]:
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print([str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [ ]:
def product(x,y):
    return x*y
print(product(2,3))
print(product(5,10))

6
50

In [ ]:
print(product(25,3))
print(product(56,10))

75
560

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [ ]:
def say_hi():
    print('Welcome to QuantConnect')
say_hi()

Welcome to QuantConnect

In [ ]:
def say_hi_in_spanish():
    print('Bienvenido Diego Rodriguez')
say_hi_in_spanish()

Bienvenido a ConexionQuantica

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [ ]:
print(range(10))
print(range(1,11))
print(range(1,11,2))

range(0, 10)
range(1, 11)
range(1, 11, 2)

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print('The length of tickers is {}'.format(len(tickers)))
for i in range(len(tickers)):
    print(tickers[i])

The length of tickers is 8
AAPL
GOOG
IBM
FB
F
V
G
GE

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

Because list at the moment is [1,2,3,4,5] and overwriting list() from builtins we del list

In [ ]:
print(list)
del list
list

[1, 2, 3, 4, 5]

list

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
list(map(len,tickers))

[4, 4, 3, 2, 1, 1, 1, 2]

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [ ]:
list(map(lambda x: x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

map() can be applied to more than one list. The lists have to have the same length.

In [ ]:
list(map(lambda x, y: x+y, [1,2,3,4,5],[5,4,3,2,1]))

[6, 6, 6, 6, 6]

**sorted()** takes a list or set and returns a new sorted list

In [ ]:
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1],reverse = True)

[('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [ ]:
class stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self):
        print(self.rate_return)

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [ ]:
apple = stock('ASD', 14.69, 14.09, 29375)
google = stock('HJK', 88.7, 91.7, 116)

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [ ]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.014465338822744034
0.0006573181419806673

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [ ]:
apple.ceo = 'incognito'
apple.ceo

'Tim Cook'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [ ]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [ ]:
class child(stock):
    def __init__(self,name):
        self.name = name

In [ ]:
aa = child('aa')
print(aa.name)
aa.update(100,102)
print(aa.open)
print(aa.close)
print(aa.print_return())

aa
100
102
0.020000000000000018
None

As seen above, the new class Child has inherited the methods from Stock.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [ ]:
import numpy as np

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [ ]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [ ]:
Ar = np.array([[1,3],[2,4]])
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [ ]:
print(Ar.shape)

(2, 2)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [ ]:
print(Ar[0])
print(Ar[1])

[1 3]
[2 4]

If we want to access the matrix by column instead:

In [ ]:
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])

the first column:  [1 2]
the second column:  [3 4]

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [ ]:
print(np.log(price_array))

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]

Other functions return a single value:

In [ ]:
print(np.mean(price_array))
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))

143.89666666666668
0.9673790478515796
863.38
145.83

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [ ]:
import pandas as pd

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [ ]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
s

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

We can customize the indices of a new Series:

In [ ]:
s = pd.Series(price,index = ['a','b','c','d','e','f'])
s

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

Or we can change the indices of an existing Series:

In [ ]:
s.index = [6,5,4,3,2,1]
s

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

Series is like a list since it can be sliced by index:

In [ ]:
print(s[1:])
print(s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [ ]:
print(s[4])
s[4] = 0
print(s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [ ]:
s = pd.Series(price, name = 'Apple Price List')
print(s)
print(s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Price List, dtype: float64
Apple Price List

We can get the statistical summaries of a Series:

In [ ]:
print(s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Price List, dtype: float64

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [ ]:
time_index = pd.date_range('2017-01-01',periods = len(s),freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01    143.73
2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
2017-01-06    142.62
Freq: D, Name: Apple Price List, dtype: float64

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [ ]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Price List, dtype: float64
142.62

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [ ]:
print(s.iloc[1])

145.83

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [ ]:
s.index = time_index
print(s['2017-01-03'])

143.68

We can even access to a range of dates:

In [ ]:
print(s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Price List, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [ ]:
print(s[s < np.mean(s)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Price List, dtype: float64
[2017-01-01    False
2017-01-02    False
2017-01-03    False
2017-01-04     True
2017-01-05    False
2017-01-06    False
Freq: D, Name: Apple Price List, dtype: bool]

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png"> <img style="display: block; margin: auto;" alt="photo" src="https://www.marketing-branding.com/wp-content/uploads/2020/07/google-colaboratory-colab-guia-completa.jpg " width="50" height="50">
<img style="display: block; margin: auto;" alt="photo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Yahoo_Finance_Logo_2019.svg" width="50" height="50">  

Quantconnect -> Google Colab with Yahoo Finance data

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [9]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.64.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 8.0 MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.64-py2.py3-none-any.whl size=24109 sha256=653346121405916eeceae2598ee0ce9d5ed00e013cb887a13e999facc2f30279
  Stored in directory: /root/.cache/pip/wheels/86/fe/9b/a4d3d78796b699e37065e5b6c27b75cff448ddb8b24943c288
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.64

In [10]:
pip install quandl

Collecting quandl
  Downloading Quandl-3.6.1-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.7/dist-packages (from quandl) (8.10.0)
Requirement already satisfied: numpy>=1.8 in /usr/local/lib/python3.7/dist-packages (from quandl) (1.19.5)
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.7/dist-packages (from quandl) (2.23.0)
Collecting inflection>=0.3.1
  Downloading inflection-0.5.1-py2.py3-none-any.whl (9.5 kB)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from quandl) (1.15.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from quandl) (2.8.2)
Requirement already satisfied: pandas>=0.14 in /usr/local/lib/python3.7/dist-packages (from quandl) (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.14->quandl) (2018.9)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.7.0->quandl) (1.24.3)
Installing collected packages: inflection, quandl
Successfully installed inflection-0.5.1 quandl-3.6.1

To use quandl appropiately you may need your own API key, for that kind of resource, you have to get Quandl account.



We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [15]:
import yfinance as yf

amd = yf.Ticker("AMD")

# get stock info
print(amd.info)

# get historical market data
amd_table = amd.history(start="2019-01-01",  end="2020-12-31")
amd_table

{'zip': '95054', 'sector': 'Technology', 'fullTimeEmployees': 12600, 'longBusinessSummary': 'Advanced Micro Devices, Inc. operates as a semiconductor company worldwide. The company operates in two segments, Computing and Graphics; and Enterprise, Embedded and Semi-Custom. Its products include x86 microprocessors as an accelerated processing unit, chipsets, discrete and integrated graphics processing units (GPUs), data center and professional GPUs, and development services; and server and embedded processors, and semi-custom System-on-Chip (SoC) products, development services, and technology for game consoles. The company provides x86 microprocessors for desktop PCs under the AMD Ryzen, AMD Ryzen PRO, Ryzen, Threadripper, AMD A-Series, AMD FX, AMD Athlon, AMD Athlon PRO, and AMD Pro A-Series processors brands; microprocessors for notebook and 2-in-1s under the AMD Ryzen, AMD A-Series, AMD Athlon, AMD Ryzen PRO, AMD Athlon PRO, and AMD Pro A-Series processors brands; microprocessors for servers under the AMD EPYC and AMD Opteron brands; and chipsets under the AMD trademark. It also offers discrete GPUs for desktop and notebook PCs under the AMD Radeon graphics and AMD Embedded Radeon brands; professional graphics products under the AMD Radeon Pro and AMD FirePro graphics brands; and Radeon Instinct and AMD Instinct accelerators for servers. In addition, the company provides embedded processor solutions under the AMD Opteron, AMD Athlon, AMD Geode, AMD Ryzen, AMD EPYC, AMD R-Series, and G-Series processors brands; and customer-specific solutions based on AMD CPU, GPU, and multi-media technologies, as well as semi-custom SoC products. It serves original equipment manufacturers, public cloud service providers, original design manufacturers, system integrators, independent distributors, online retailers, and add-in-board manufacturers through its direct sales force, independent distributors, and sales representatives. Advanced Micro Devices, Inc. was founded in 1969 and is headquartered in Santa Clara, California.', 'city': 'Santa Clara', 'phone': '408 749 4000', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.amd.com', 'maxAge': 1, 'address1': '2485 Augustine Drive', 'industry': 'Semiconductors', 'ebitdaMargins': 0.21746999, 'profitMargins': 0.25757, 'grossMargins': 0.45712003, 'operatingCashflow': 2743000064, 'revenueGrowth': 0.993, 'operatingMargins': 0.19018, 'ebitda': 2900999936, 'targetLowPrice': 90, 'recommendationKey': 'buy', 'grossProfits': 4347000000, 'freeCashflow': 1889250048, 'targetMedianPrice': 120, 'currentPrice': 116.39, 'earningsGrowth': 3.448, 'currentRatio': 2.703, 'returnOnAssets': 0.18358, 'numberOfAnalystOpinions': 35, 'targetMeanPrice': 119.45, 'debtToEquity': 9.299, 'returnOnEquity': 0.66268, 'targetHighPrice': 172, 'totalCash': 3792999936, 'totalDebt': 657000000, 'totalRevenue': 13340000256, 'totalCashPerShare': 3.127, 'financialCurrency': 'USD', 'revenuePerShare': 11.071, 'quickRatio': 2.012, 'recommendationMean': 2.3, 'exchange': 'NMS', 'shortName': 'Advanced Micro Devices, Inc.', 'longName': 'Advanced Micro Devices, Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AMD', 'messageBoardId': 'finmb_168864', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 10.348, 'beta3Year': None, 'enterpriseToEbitda': 47.584, '52WeekChange': 0.46549988, 'morningStarRiskRating': None, 'forwardEps': 3.07, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 1212969984, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 5.824, 'sharesShort': 62455085, 'sharesPercentSharesOut': 0.0515, 'fundFamily': None, 'lastFiscalYearEnd': 1608940800, 'heldPercentInstitutions': 0.69712996, 'netIncomeToCommon': 3436000000, 'trailingEps': 2.837, 'lastDividendValue': None, 'SandP52WeekChange': 0.313509, 'priceToBook': 19.984547, 'heldPercentInsiders': 0.0043099998, 'nextFiscalYearEnd': 1672012800, 'yield': None, 'mostRecentQuarter': 1624665600, 'shortRatio': 1.48, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 1205808787, 'beta': 1.997883, 'enterpriseValue': 138041032704, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 966902400, 'lastSplitFactor': '2:1', 'legalType': None, 'lastDividendDate': None, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 3.522, 'priceToSalesTrailing12Months': 10.583026, 'dateShortInterest': 1632960000, 'pegRatio': 1.35, 'ytdReturn': None, 'forwardPE': 37.912052, 'lastCapGain': None, 'shortPercentOfFloat': 0.051799998, 'sharesShortPriorMonth': 64854437, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 116.33, 'regularMarketOpen': 116.29, 'twoHundredDayAverage': 93.31736, 'trailingAnnualDividendYield': None, 'payoutRatio': 0, 'volume24Hr': None, 'regularMarketDayHigh': 118.3001, 'navPrice': None, 'averageDailyVolume10Day': 40421825, 'regularMarketPreviousClose': 116.33, 'fiftyDayAverage': 106.500854, 'trailingAnnualDividendRate': None, 'open': 116.29, 'toCurrency': None, 'averageVolume10days': 40421825, 'expireDate': None, 'algorithm': None, 'dividendRate': None, 'exDividendDate': 798940800, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 115.421, 'currency': 'USD', 'trailingPE': 41.025734, 'regularMarketVolume': 34244811, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 141177569280, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 62103987, 'dayLow': 115.421, 'ask': 115.91, 'askSize': 800, 'volume': 34244811, 'fiftyTwoWeekHigh': 122.49, 'fromCurrency': None, 'fiveYearAvgDividendYield': None, 'fiftyTwoWeekLow': 72.5, 'bid': 115.83, 'tradeable': False, 'dividendYield': None, 'bidSize': 900, 'dayHigh': 118.3001, 'regularMarketPrice': 116.39, 'preMarketPrice': 116.0597, 'logo_url': 'https://logo.clearbit.com/amd.com'}

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2019-01-02  18.010000  19.000000  17.980000  ...   87148700          0             0
2019-01-03  18.420000  18.680000  16.940001  ...  117277600          0             0
2019-01-04  17.549999  19.070000  17.430000  ...  111878600          0             0
2019-01-07  19.440001  20.680000  19.000000  ...  107157000          0             0
2019-01-08  21.190001  21.200001  19.680000  ...  121271000          0             0
...               ...        ...        ...  ...        ...        ...           ...
2020-12-23  93.080002  93.129997  91.459999  ...   25993300          0             0
2020-12-24  91.800003  92.510002  91.309998  ...   16705900          0             0
2020-12-28  92.930000  93.139999  90.820000  ...   30627300          0             0
2020-12-29  91.660004  92.459999  89.430000  ...   31748200          0             0
2020-12-30  90.779999  92.849998  90.190002  ...   25845000          0             0

[504 rows x 7 columns]

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [18]:
amd = amd_table['Close']['2020']

In [ ]:
print(aapl)

Date
2017-01-03    27.372366
2017-01-04    27.341728
2017-01-05    27.480766
2017-01-06    27.787127
2017-01-09    28.041647
                ...
2017-12-22    41.906780
2017-12-26    40.843597
2017-12-27    40.850792
2017-12-28    40.965717
2017-12-29    40.522732
Name: Close, Length: 251, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [19]:
print(amd['2020-3'])

Date
2020-03-02    47.459999
2020-03-03    46.750000
2020-03-04    50.110001
2020-03-05    48.110001
2020-03-06    48.590000
2020-03-09    43.270000
2020-03-10    45.380001
2020-03-11    45.700001
2020-03-12    39.009998
2020-03-13    43.900002
2020-03-16    38.709999
2020-03-17    41.880001
2020-03-18    39.119999
2020-03-19    39.820000
2020-03-20    39.610001
2020-03-23    41.639999
2020-03-24    46.220001
2020-03-25    44.630001
2020-03-26    47.500000
2020-03-27    46.580002
2020-03-30    47.860001
2020-03-31    45.480000
Name: Close, dtype: float64

In [ ]:
amd['2017-2':'2017-4']

Date
2017-02-01    30.341726
2017-02-02    30.289879
2017-02-03    30.419491
2017-02-06    30.704649
2017-02-07    30.996872
                ...
2017-04-24    33.997532
2017-04-25    34.208179
2017-04-26    34.006992
2017-04-27    34.033031
2017-04-28    33.999886
Name: Close, Length: 61, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [20]:
print(amd.head(5))
print(amd.tail(10))

Date
2020-01-02    49.099998
2020-01-03    48.599998
2020-01-06    48.389999
2020-01-07    48.250000
2020-01-08    47.830002
Name: Close, dtype: float64
Date
2020-12-16    96.849998
2020-12-17    96.839996
2020-12-18    95.919998
2020-12-21    93.230003
2020-12-22    93.160004
2020-12-23    91.550003
2020-12-24    91.809998
2020-12-28    91.599998
2020-12-29    90.620003
2020-12-30    92.290001
Name: Close, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [21]:
by_month = amd.resample('M').mean()
print(by_month)

Date
2020-01-31    49.197142
2020-02-29    51.376842
2020-03-31    44.424091
2020-04-30    52.063810
2020-05-31    53.503000
2020-06-30    53.490000
2020-07-31    60.225000
2020-08-31    83.419999
2020-09-30    79.777620
2020-10-31    82.210454
2020-11-30    83.196000
2020-12-31    93.267619
Freq: M, Name: Close, dtype: float64

We can also aggregate the data by week:

In [22]:
by_week = amd.resample('W').mean()
print(by_week.head())

Date
2020-01-05    48.849998
2020-01-12    48.322000
2020-01-19    49.242000
2020-01-26    51.134999
2020-02-02    48.615999
Freq: W-SUN, Name: Close, dtype: float64

We can also aggregate the data by month with max:

In [23]:
amd.resample('M').max()

Date
2020-01-31    51.709999
2020-02-29    58.900002
2020-03-31    50.110001
2020-04-30    56.970001
2020-05-31    56.389999
2020-06-30    57.439999
2020-07-31    78.199997
2020-08-31    90.820000
2020-09-30    92.180000
2020-10-31    86.690002
2020-11-30    92.660004
2020-12-31    97.120003
Freq: M, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [24]:
three_day = amd.resample('3D').mean()
two_week = amd.resample('2W').mean()
two_month = amd.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2020-01-02    48.849998
2020-01-05    48.320000
2020-01-08    48.323334
2020-01-11    48.750000
2020-01-14    48.843333
                ...
2020-12-18    95.919998
2020-12-21    92.646670
2020-12-24    91.809998
2020-12-27    91.110001
2020-12-30    92.290001
Freq: 3D, Name: Close, Length: 122, dtype: float64
Date
2020-01-05    48.849998
2020-01-19    48.782000
2020-02-02    49.735555
2020-02-16    51.615000
2020-03-01    51.112222
2020-03-15    45.828000
2020-03-29    42.571000
2020-04-12    46.258890
2020-04-26    55.230000
2020-05-10    52.998000
2020-05-24    54.666000
2020-06-07    53.011111
2020-06-21    54.509000
2020-07-05    52.331111
2020-07-19    54.651000
2020-08-02    67.352000
2020-08-16    82.444999
2020-08-30    83.655000
2020-09-13    83.743334
2020-09-27    76.922001
2020-10-11    83.683001
2020-10-25    82.421999
2020-11-08    79.232999
2020-11-22    82.547000
2020-12-06    89.962222
2020-12-20    94.164000
2021-01-03    92.037144
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2020-01-31    49.197142
2020-03-31    47.646098
2020-05-31    52.765854
2020-07-31    56.857500
2020-09-30    81.598810
2020-11-30    82.679762
2021-01-31    93.267619
Freq: 2M, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [25]:
std = amd.resample('W').std()
max = amd.resample('W').max()
min = amd.resample('W').min()


print(std)
print(max)
print(min)

Date
2020-01-05    0.353553
2020-01-12    0.416797
2020-01-19    1.108387
2020-01-26    0.589096
2020-02-02    1.408875
2020-02-09    0.730390
2020-02-16    1.125599
2020-02-23    2.369565
2020-03-01    1.997256
2020-03-08    1.270662
2020-03-15    2.680294
2020-03-22    1.225713
2020-03-29    2.300453
2020-04-05    2.006522
2020-04-12    0.626332
2020-04-19    2.386498
2020-04-26    1.548039
2020-05-03    2.612724
2020-05-10    0.488211
2020-05-17    1.291054
2020-05-24    0.733130
2020-05-31    0.868153
2020-06-07    0.455226
2020-06-14    2.136943
2020-06-21    0.256261
2020-06-28    1.825851
2020-07-05    1.121529
2020-07-12    1.891414
2020-07-19    0.671506
2020-07-26    5.043584
2020-08-02    4.983170
2020-08-09    3.567139
2020-08-16    2.339676
2020-08-23    1.046016
2020-08-30    1.439078
2020-09-06    4.874687
2020-09-13    2.283173
2020-09-20    1.511433
2020-09-27    1.494154
2020-10-04    1.911870
2020-10-11    1.548720
2020-10-18    0.895981
2020-10-25    1.398543
2020-11-01    2.666333
2020-11-08    4.602371
2020-11-15    1.899756
2020-11-22    1.160612
2020-11-29    1.039488
2020-12-06    0.763040
2020-12-13    1.587049
2020-12-20    0.964531
2020-12-27    0.881567
2021-01-03    0.839185
Freq: W-SUN, Name: Close, dtype: float64
Date
2020-01-05    49.099998
2020-01-12    48.970001
2020-01-19    50.930000
2020-01-26    51.709999
2020-02-02    50.529999
2020-02-09    49.840000
2020-02-16    55.310001
2020-02-23    58.900002
2020-03-01    49.119999
2020-03-08    50.110001
2020-03-15    45.700001
2020-03-22    41.880001
2020-03-29    47.500000
2020-04-05    47.860001
2020-04-12    48.790001
2020-04-19    56.950001
2020-04-26    56.970001
2020-05-03    56.490002
2020-05-10    53.189999
2020-05-17    55.740002
2020-05-24    56.389999
2020-05-31    53.799999
2020-06-07    53.630001
2020-06-14    57.439999
2020-06-21    54.680000
2020-06-28    54.759998
2020-07-05    52.610001
2020-07-12    57.259998
2020-07-19    55.340000
2020-07-26    69.400002
2020-08-02    78.199997
2020-08-09    86.709999
2020-08-16    82.610001
2020-08-23    83.809998
2020-08-30    86.349998
2020-09-06    92.180000
2020-09-13    81.910004
2020-09-20    78.930000
2020-09-27    78.059998
2020-10-04    84.860001
2020-10-11    86.690002
2020-10-18    85.279999
2020-10-25    82.000000
2020-11-01    82.230003
2020-11-08    85.879997
2020-11-15    83.120003
2020-11-22    85.540001
2020-11-29    87.190002
2020-12-06    94.040001
2020-12-13    94.070000
2020-12-20    97.120003
2020-12-27    93.230003
2021-01-03    92.290001
Freq: W-SUN, Name: Close, dtype: float64
Date
2020-01-05    48.599998
2020-01-12    47.830002
2020-01-19    48.209999
2020-01-26    50.349998
2020-02-02    47.000000
2020-02-09    48.020000
2020-02-16    52.259998
2020-02-23    53.279999
2020-03-01    44.009998
2020-03-08    46.750000
2020-03-15    39.009998
2020-03-22    38.709999
2020-03-29    41.639999
2020-04-05    42.590000
2020-04-12    47.520000
2020-04-19    50.939999
2020-04-26    52.919998
2020-05-03    49.880001
2020-05-10    51.950001
2020-05-17    52.180000
2020-05-24    54.590000
2020-05-31    51.740002
2020-06-07    52.630001
2020-06-14    52.830002
2020-06-21    54.040001
2020-06-28    50.099998
2020-07-05    50.279999
2020-07-12    52.930000
2020-07-19    53.590000
2020-07-26    57.000000
2020-08-02    67.610001
2020-08-09    77.669998
2020-08-16    76.879997
2020-08-23    81.089996
2020-08-30    83.080002
2020-09-06    82.010002
2020-09-13    76.339996
2020-09-20    74.930000
2020-09-27    74.730003
2020-10-04    79.480003
2020-10-11    83.099998
2020-10-18    83.129997
2020-10-25    79.199997
2020-11-01    75.290001
2020-11-08    74.699997
2020-11-15    77.989998
2020-11-22    82.540001
2020-11-29    85.070000
2020-12-06    92.309998
2020-12-13    89.830002
2020-12-20    94.779999
2020-12-27    91.550003
2021-01-03    90.620003
Freq: W-SUN, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [26]:
last_day = amd.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2020-01-31    47.000000
2020-02-29    45.480000
2020-03-31    45.480000
2020-04-30    52.389999
2020-05-31    53.799999
2020-06-30    52.610001
2020-07-31    77.430000
2020-08-31    90.820000
2020-09-30    81.989998
2020-10-31    75.290001
2020-11-30    92.660004
2020-12-31    92.290001
Freq: M, Name: Close, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [27]:
monthly_return = amd.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2020-01-31   -0.042770
2020-02-29   -0.052895
2020-03-31   -0.041719
2020-04-30    0.199954
2020-05-31    0.078589
2020-06-30   -0.019019
2020-07-31    0.472613
2020-08-31    0.169306
2020-09-30   -0.110545
2020-10-31   -0.112774
2020-11-30    0.240428
2020-12-31   -0.003670
Freq: M, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [28]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.06479152712157167
0.17510957010046485
0.4726131154191828

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [ ]:
print(last_day.diff())
print(last_day.pct_change())

Date
2017-01-31         NaN
2017-02-28    3.825760
2017-03-31    1.578682
2017-04-30   -0.002369
2017-05-31    2.305450
2017-06-30   -2.077171
2017-07-31    1.119385
2017-08-31    3.782169
2017-09-30   -2.357319
2017-10-31    3.559849
2017-11-30    0.817848
2017-12-31   -0.627365
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048689
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [29]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2020-01-31    0.000000
2020-02-29   -0.032340
2020-03-31    0.000000
2020-04-30    0.151935
2020-05-31    0.026914
2020-06-30   -0.022119
2020-07-31    0.471773
2020-08-31    0.172930
2020-09-30   -0.097225
2020-10-31   -0.081717
2020-11-30    0.230708
2020-12-31   -0.003993
Freq: M, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [30]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2020-01-31   -0.032340
2020-02-29   -0.032340
2020-03-31    0.000000
2020-04-30    0.151935
2020-05-31    0.026914
2020-06-30   -0.022119
2020-07-31    0.471773
2020-08-31    0.172930
2020-09-30   -0.097225
2020-10-31   -0.081717
2020-11-30    0.230708
2020-12-31   -0.003993
Freq: M, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [49]:
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2020-02-29   -0.032340
2020-03-31    0.000000
2020-04-30    0.151935
2020-05-31    0.026914
2020-06-30   -0.022119
2020-07-31    0.471773
2020-08-31    0.172930
2020-09-30   -0.097225
2020-10-31   -0.081717
2020-11-30    0.230708
2020-12-31   -0.003993
Freq: M, Name: Close, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [46]:
import pandas as pd

dict = {'AAPL': [143.5,  144.09, 142.73, 144.18, 143.77],
        'GOOG': [898.7,  911.71, 906.69, 918.59, 926.99],
        'IBM':  [155.58, 153.67, 152.36, 152.94, 153.49]}
dates = pd.date_range('2017-07-03', periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = dates)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [47]:
df = amd_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2020-12-23    91.550003
2020-12-24    91.809998
2020-12-28    91.599998
2020-12-29    90.620003
2020-12-30    92.290001
Name: Close, dtype: float64
Date
2020-12-23    25993300
2020-12-24    16705900
2020-12-28    30627300
2020-12-29    31748200
2020-12-30    25845000
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [ ]:
aapl_2017 = df['2017']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print(aapl_month)

We may select certain columns of a DataFrame using their names:

In [ ]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [ ]:
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [ ]:
import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [ ]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [ ]:
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [ ]:
print(missing[missing.rate_return == True])

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [ ]:
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [55]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

The "axis = 1" parameter will join two DataFrames by columns:

In [ ]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31    3.110856
2016-02-29    3.109568
2016-03-31    3.229314
2016-04-30    3.078583
2016-05-31    3.147897
2016-06-30    3.104301
2016-07-31    3.190536
2016-08-31    3.213912
2016-09-30    3.277361
2016-10-31    3.281686
2016-11-30    3.259848
2016-12-31    3.306689
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN   3.110856
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288   3.109568
2016-03-31  25.431518  25.473240  25.236817  25.262314     0.127211   3.229314
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921   3.078583
2016-05-31  23.226401  23.412960  23.044508  23.287033     0.071773   3.147897
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660   3.104301
2016-07-31  24.296778  24.380729  24.177847  24.301441     0.090063   3.190536
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652   3.213912
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065504   3.277361
2016-10-31  26.646400  26.782387  26.540892  26.620609     0.004335   3.281686
2016-11-30  26.300092  26.441490  25.986658  26.045574    -0.021601   3.259848
2016-12-31  27.490195  27.619809  27.202685  27.294594     0.047955   3.306689

We can also join two DataFrames by rows. Consider these two DataFrames:

In [ ]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.646400  26.782387  26.540892  26.620609
2016-11-30  26.300092  26.441490  25.986658  26.045574
2016-12-31  27.490195  27.619809  27.202685  27.294594
2017-01-31  28.550681  28.607239  28.425779  28.597813
2017-02-28  32.444873  32.530080  32.354932  32.423573
2017-03-31  34.016455  34.146633  33.848407  34.002254
2017-04-30  34.104028  34.153733  33.909947  33.999886

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [ ]:
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

                 Open       High  ...       Volume  Stock Splits
Date                              ...
2016-01-31  21.852388  22.440250  ...          NaN           NaN
2016-02-29  22.450755  22.768302  ...          NaN           NaN
2016-03-31  25.431518  25.473240  ...          NaN           NaN
2016-04-30  21.785531  21.954736  ...          NaN           NaN
2016-05-31  23.226401  23.412960  ...          NaN           NaN
2016-06-30  22.023112  22.333262  ...          NaN           NaN
2016-07-31  24.296778  24.380729  ...          NaN           NaN
2016-08-31  24.773058  24.986415  ...          NaN           NaN
2016-09-30  26.367388  26.580747  ...          NaN           NaN
2016-10-31  26.646400  26.782387  ...  105677600.0           0.0
2016-11-30  26.300092  26.441490  ...  144649200.0           0.0
2016-12-31  27.490195  27.619809  ...  122345200.0           0.0
2017-01-31        NaN        NaN  ...  196804000.0           0.0
2017-02-28        NaN        NaN  ...   93931600.0           0.0
2017-03-31        NaN        NaN  ...   78646800.0           0.0
2017-04-30        NaN        NaN  ...   83441600.0           0.0

[16 rows x 7 columns]

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [ ]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High  ...     Volume  Stock Splits
Date                              ...
2016-10-31  26.646400  26.782387  ...  105677600             0
2016-11-30  26.300092  26.441490  ...  144649200             0
2016-12-31  27.490195  27.619809  ...  122345200             0

[3 rows x 7 columns]

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [ ]:
append = aapl_bar.append(df_2017)
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288
2016-03-31  25.431518  25.473240  25.236817  25.262314     0.127211
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226401  23.412960  23.044508  23.287033     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296778  24.380729  24.177847  24.301441     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065504
2016-10-31  26.646400  26.782387  26.540892  26.620609     0.004335
2016-11-30  26.300092  26.441490  25.986658  26.045574    -0.021601
2016-12-31  27.490195  27.619809  27.202685  27.294594     0.047955
2016-10-31  26.646400  26.782387  26.540892  26.620609          NaN
2016-11-30  26.300092  26.441490  25.986658  26.045574          NaN
2016-12-31  27.490195  27.619809  27.202685  27.294594          NaN
2017-01-31  28.550681  28.607239  28.425779  28.597813          NaN
2017-02-28  32.444873  32.530080  32.354932  32.423573          NaN
2017-03-31  34.016455  34.146633  33.848407  34.002254          NaN
2017-04-30  34.104028  34.153733  33.909947  33.999886          NaN

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [ ]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288
2016-03-31  25.431518  25.473240  25.236817  25.262314     0.127211
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921
2016-05-31  23.226401  23.412960  23.044508  23.287033     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296778  24.380729  24.177847  24.301441     0.090063
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065504
2016-10-31  26.646400  26.782387  26.540892  26.620609     0.004335
2016-11-30  26.300092  26.441490  25.986658  26.045574    -0.021601
2016-12-31  27.490195  27.619809  27.202685  27.294594     0.047955
2016-10-31  26.646400  26.782387  26.540892  26.620609          NaN
2016-11-30  26.300092  26.441490  25.986658  26.045574          NaN
2016-12-31  27.490195  27.619809  27.202685  27.294594          NaN
2017-01-31  28.550681  28.607239  28.425779  28.597813          NaN
2017-02-28  32.444873  32.530080  32.354932  32.423573          NaN
2017-03-31  34.016455  34.146633  33.848407  34.002254          NaN
2017-04-30  34.104028  34.153733  33.909947  33.999886          NaN

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [ ]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN        NaN
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001288        NaN
2016-03-31  25.431518  25.473240  25.236817  25.262314     0.127211        NaN
2016-04-30  21.785531  21.954736  21.442489  21.727585    -0.139921        NaN
2016-05-31  23.226401  23.412960  23.044508  23.287033     0.071773        NaN
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660        NaN
2016-07-31  24.296778  24.380729  24.177847  24.301441     0.090063        NaN
2016-08-31  24.773058  24.986415  24.768367  24.876219     0.023652        NaN
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065504        NaN
2016-10-31  26.646400  26.782387  26.540892  26.620609     0.004335        NaN
2016-11-30  26.300092  26.441490  25.986658  26.045574    -0.021601        NaN
2016-12-31  27.490195  27.619809  27.202685  27.294594     0.047955        NaN
2016-10-31        NaN  26.782387  26.540892  26.620609          NaN  26.646400
2016-11-30        NaN  26.441490  25.986658  26.045574          NaN  26.300092
2016-12-31        NaN  27.619809  27.202685  27.294594          NaN  27.490195
2017-01-31        NaN  28.607239  28.425779  28.597813          NaN  28.550681
2017-02-28        NaN  32.530080  32.354932  32.423573          NaN  32.444873
2017-03-31        NaN  34.146633  33.848407  34.002254          NaN  34.016455
2017-04-30        NaN  34.153733  33.909947  33.999886          NaN  34.104028

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.